body,html{
	// height:100%
}
body{
	overflow:auto;
	box-sizing:border-box;
	background-image: url('../../img/delc2/bg.jpg');
	background-size: cover;
	text-align: center;
	// background-attachment: scroll;
	color: #00fcff;
	padding-top: 20vw;
	padding-bottom: 20px;
}
body,p,ul{
	margin:0
}
ul{
	padding-left:0;
	list-style:none;
}
a{
	text-decoration:none
}
input{
	outline: none;
}
.clear{
	clear: both;
}
.logo{
	position: absolute;
	left: 0;
	top: 0;
	width:16vw;
	margin: 4vw 0 0 6vw;
}
.title_img{
	margin:9vh auto 5vh auto;
}
.box_border{
	width: 80vw;
  	margin:0 auto;
  	border: 0.5vw solid #00fcff;
  	border-radius: 4vw;
		box-shadow: 0px 0px 2vw 2px rgba(0,252,255,0.6) inset,0px 0px 2vw 2px rgba(0,252,255,0.6);
		box-sizing: border-box;
}
.box_content{
	position: relative;
	margin: 18px;
	border-radius: 2vw;
	background-color: rgba(0,252,255,0.2);
	color: #fff;
	font-size: 3.4vw;
	line-height: 3.5vh;
	font-weight: 100;
	padding: 2vw 2vw;
	text-align: left;
}
.btn{
	background-color:#00fcff;
	display: inline-block;
	color: #083e63;
}
.big_btn{
	height: 11vw;
	line-height: 11vw;
	border-radius: 6vw;
	font-size: 4.4vw;
}
.small_btn{
	font-size: 18px;
	font-weight: 400;
	height: 5vw;
	line-height: 5vw;
	border-radius: 2.5vw;
}
.long_btn{
	width: 80vw;
	margin: 4vh auto 0 auto;
}
.title_index{
	width: 65vw;
	margin: 5vh auto 2vh auto;
}
.toast{
  position: fixed;
  top: 50%;
  left: 50%;
  padding:20px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: #000;
  font-size: 26px;
  transition: 0.3s;
}
a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
button,input{
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.prop{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 1;
	.prop-box{
		position: absolute;
		width: 572px;
		top: 50%;
		left: 50%;
		padding: 45px 26px;
		background-color: #fff;
		border-radius: 12px;
		transform: translate(-50%, -50%);
	}
	.close{
		position: absolute;
		line-height: 1;
		font-size: 50px;
		top: 0px;
		right: 20px;
		color: #000;
	}
	.prop-title{
		color: #000;
		font-size: 40px;
		text-align: center;
	}
	.prop-content{}
	.content-text{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 215px;
		font-size: 30px;
		color: #333;
		line-height: 1.5;
	}
	.content-btn{
		display: block;
		width: 100%;
		height: 86px;
		line-height: 86px;
		color: #fff;
		border: 0;
		background: #00fcff;
		border-radius: 10px;
	}
}