
.title_index{
	width: 65vw;
	margin: 5vh auto 2vh auto;
}
.href-wrap{
	display: inline-block;
	position: relative;
}
.tip{
	position: absolute;
	width: 66px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #00ffff;
	color: #0a4165;
	font-size: 24px;
	top: -12px;
	right: -16px;
	font-weight: bold;
	border-radius: 40px;
}

.token_name{
	font-size: 36px;
	font-weight: 400;
	width: 100%;
	text-align: center;
	margin-top:1vh; 
}
.detailPage{
	position: absolute;
	line-height: 1;
	color: #00ffff;
	font-size: 24px;
	bottom: 40px;
	right: 20px;
}
.token_btn{
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 0 12px;
	margin-bottom: 1vw;
}
.token_count{
	font-size: 8vw;
	font-weight: 400;
	margin: 2vh 0;
	text-align: center;
	color: #00ffff;
}
.content_title{
	letter-spacing:0.8vw;
	font-size: 5vw;
	margin:3vh auto 2vh auto; 
	width: 80vw;
	font-weight: 400;
	text-align: left;
}
.icon_table{
	width: 85vw;
	margin: 0 auto 1vh auto;
	font-weight: 100;
	font-size: 3.5vw;
}
.icon_table img{
	width: 90%;
}