
.hasSubmit-false,.hasSubmit-true{
  display: none;
}
.form-wrap{
  width: 80vw;
  margin: 0 auto;
  .form-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 40px;
    }
  }
  .right-flex{
    flex: 1;
    margin-left: 20px;
  }
  input.right-flex{
    font-size: 30px;
    height: 76px;
    border-radius: 76px;
    border: 1px solid #00fcff;
    background: transparent;
    color: #11a5b6;
    padding-left: 30px;

  }
  p.right-flex{
    padding-left: 50px;
    text-align: left;
  }
  .radio-wrap{
    display: flex;
    justify-content: center;
    .radio:first-child{
      margin-right: 100px;
    }
    input,span{
      vertical-align: middle;
    }
  }
  .hasSubmit-false,.hasSubmit-true{
    display: none;
  }
}
.box_content{
  display: flex;
  align-items: center;
  p{
    margin-left: 10px;
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #11a5b6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #11a5b6;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #11a5b6;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #11a5b6;
}