@import './reset.scss';
/*=================变量=========================*/
$main-color: #000f3d; // 主颜色
$border-color: #00e6e9; //边框线
$content-color: #002654; //填充
$input-color: #002654; //input颜色
/*=================公用样式=========================*/
body{
  background-color: $main-color;
  background-image: url('../img/vote/bg.png');
  background-position: top left,bottom left;
  background-size: cover;
}
input {
  background-color: transparent;
  line-height: 64px;
  height: 64px;
  font-size: 24px;
  color: white;
  border: none;
  padding-left: 32px;
}
input::-webkit-input-placeholder{
  color: white;
  font-weight: bold;
}

.hide {
  display: none;
}

.logo {
  width: 112px;
  height: 110px;
  margin: 30px 20px;
}

.dialog {
  box-shadow: 0 0 4px 4px rgba(167,140,160,0.8);
  width: 594px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 22px 18px;
  position: relative;
}

.dialog-close {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 36px;
  right: 33px;
  background: rgba(93,101,126,0.8);
  border-radius: 8px;
}

.dialog-close-img {
  width: 20px;
  height: 20px;
}

.dialog-border {
  border: 1px solid white;
  border-radius: 15px;
  padding: 91px 18px 76px;
}

.dialog-title {
  margin-bottom: 36px;
}

.dialog-title-img {
  width: 231px;
  height: 42px;
}

.dialog-content-p {
  font-size: 23px;
  color: white;
  margin: 0 0 34px 0;
}

.form-control {
  width: 469px;
  height: 69px;
  margin: 0 auto;
  border-radius: 15px;
  border: 2px solid white;
  position: relative;
}

.form-phone {
  margin-bottom: 50px;
}

.btn {
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  border-radius: 35px;
  display: inline-block;
}

.btn-code {
  position: absolute;
  right: 3px;
  top: 3px;
  background: linear-gradient(#d6e8ff, #3f83de);
  color: white;
  padding: 0 25px;
}

.btn-submit {
  background: linear-gradient(#d8e7f0, #ebf3f8);
  color: #06375a;
  width: 382px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.tips-inline {
  font-size: 21px;
  color: white;
  text-align: center;
  margin: 38px 0 421px;
}

.title {
  margin: 42px 0 92px;
  text-align: center;
}

.title-img {
  width: 605px;
  height: 62px;
}

.content {
  background: url('../img/vote/divide.png');
  background-size: cover;
  width: 614px;
  height: 68px;
  margin: 0 auto;
}

.content ul {
  padding: 15px 0 0 25px;
}

.content li {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: white;
  display: inline-block;
  width: 180px;
  margin-left: 20px;
}

.content li:last-child {
  width: 120px;
}

.tips-content {
  font-size: 24px;
  line-height: 124px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.list {
  background: url('../img/vote/block.png');
  background-size: cover;
  width: 329px;
  height: 218px;
  position: relative;
  margin-bottom: 42px;
}

.list-content {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-votes {
  background: url('../img/vote/votes.png');
  background-size: cover;
  width: 81px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: white;
  position: absolute;
  right: 5px;
  top: 7px;
}

.list-title {
  font-size: 34px;
  font-weight: bold;
  color: white;
  line-height: 44px;
  padding: 50px 0 0 40px;
}

.list-user {
  padding: 5px 0 0 40px;
}

.list-img {
  width: 33px;
  height: 33px;
  // background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
}

.list-span {
  background: url('../img/vote/input.png');
  background-size: cover;
  width: 134px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin-left: 7px;
  overflow: auto;
  vertical-align: middle;
}

.list-btn {
  margin-top: 10px;
  text-align: center;
}

.btn-list {
  background: url('../img/vote/vote.png');
  background-size: cover;
  width: 155px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  color: white;
}

.list-ranking {
  background-size: cover;
  width: 69px;
  height: 69px;
  position: absolute;
  top: 50px;
  right: 10px;
}

.list-ranking.first {
  background-image: url('../img/vote/first.png');
}

.list-ranking.second {
  background-image: url('../img/vote/second.png');
}

.list-ranking.third {
  background-image: url('../img/vote/third.png');
}

.btn-to-tips {
  color: white;
  margin-left: 10px;
  text-decoration: underline;
}

.dialog-qrcode {
  text-align: center;
}

.dialog-qrcode-img {
  width: 527px;
  height: 61px;
}

.dialog-qrcode-ewm {
  width: 453px;
  height: 433px;
  line-height: 433px;
  background: rgba(0,0,0,0.3);
  margin: 134px auto 47px;
}

.dialog-qrcode-ewm-img {
  width: 344px;
  height: 344px;
  margin-top: 45px;
}

.dialog-qrcode-content {
  font-size: 27px;
  color: white;
  line-height: 52px;
}
